/* Pseudo-class that matches the root element of the document. */
:root {
    --dark-shades: rgb(4, 8, 11);
    --dark-accent: rgb(171, 15, 163);
    --main-brand: rgb(142, 95, 202);
    --light-accent: rgb(187, 94, 202);
    --light-shades: rgb(192, 213, 247);
    --gradient-bottom: linear-gradient(to bottom, var(--main-brand), var(--dark-shades));
    --gradient-top: linear-gradient(to top, var(--main-brand), var(--dark-shades));
    --heading: 'Moon Dance', cursive;
    --body: 'Oswald', sans-serif;
}

* {
    color: var(--dark-shades);
}

body {
    font-family: var(--body);
}

body,
#sidebarMenu,
.dashboard {
    background: var(--gradient-top);
}

header {
    display: inline-flex;
    height: 28vh;
}

header,
footer {
    background: var(--gradient-bottom);
}

header,
#sidebarMenu,
.dashboard,
footer {
    border-radius: 15px;
}

header img {
    border-radius: 100px;
    box-shadow: 0 5px 8px 5px var(--main-brand);
}

.title {
    margin-top: 10px;
    margin-right: 90px;
    font-size: 90px;
    font-family: var(--heading);
    letter-spacing: 0.3rem;
    text-shadow: 2px 4px var(--dark-accent);
}

.title,
.deleteBtn,
h3,
span {
    color: var(--main-brand);
}

header p {
    margin-top: 150px;
    margin-right: 10px;
    font-size: 20px;
    letter-spacing: 0.2rem;
}

header p,
#city[type=text],
.date {
    color: var(--dark-accent);
}

#sidebarMenu {
    width: 15vw;
    height: 117vh;
}

.custom {
    margin-top: 50px;
}

.searchp {
    margin: 15px 22px;
}

.searchp,
.deleteBtn:hover,
.unit label,
footer p,
.icon {
    color: var(--light-shades);
}

#city {
    border-radius: 20px;
    width: 190px;
}

#city:focus,
.button {
    box-shadow: 0 2px 8px 2px var(--light-accent);
}

.button {
    width: 80px;
    background: var(--dark-accent);
}

.button:hover {
    background: var(--light-accent);
}

/* Border and outline as 'none' to ensure the box shadow has a nice aesthetic. */
.button,
.deleteBtn {
    border: none;
    outline: none;
    border-radius: 20px;
}

.deleteBtn {
    box-shadow: 0 4px 7px 4px var(--main-brand);
    width: 12vw;
    background: var(--light-shades);
}

.deleteBtn:hover {
    box-shadow: none;
    background: var(--main-brand);
}

h2,
.description {
    color: var(--light-accent);
}

/* To position the switch button in the upper right corner of the dashboard.  */
.unit {
    position: absolute;
    top: 25px;
    right: 20px;
}

.dashboard {
    width: 84vw;
}

#day-1 {
    width: 83vw;
    height: 50vh;
    padding-top: 15px;
}

.card {
    margin: 15px 2px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--main-brand);
    width: 16vw;
    height: 44vh;
    text-align: center;
}

#day-1 .card-body {
    padding: 0;
}

#day-1 .card-body h3 {
    padding-top: 10px;
    font-size: 37px;
}

.date {
    margin-left: 37px;
    font-size: 15px;
}

#date-1 {
    margin-left: 55rem;
    font-size: 20px;
}

.card-body img {
    width: 60px;
    height: 60px;
}

#day-1 .card-body img {
    width: 80px;
    height: 80px;
}

#day-1 .card-body h4 {
    font-size: 23px;
}

.description {
    margin: 10px;
    font-size: 19px;
}

#day-1 .card-body p {
    font-size: 18px;
}

#day-1 .card-body p span {
    font-weight: 500;
}

footer {
    padding: 20px;
    font-size: 18px;
    letter-spacing: 0.16rem;
    text-align: center;
}

.icon {
    font-size: 25px;
}