:root {
    --dark-shades: rgb(4, 8, 11);
    --dark-accent: rgb(171, 15, 163);
    --main-brand: rgb(142, 95, 202);
    --light-accent: rgb(187, 94, 202);
    --light-shades: rgb(192, 213, 247);
    --light: rgb(241, 245, 252);
}

* {
    color: var(--dark-shades);
}

body {
    font-family: 'Oswald', sans-serif;
}

body,
#sidebarMenu {
    background: linear-gradient(to top, var(--main-brand), var(--dark-shades));
}

header {
    display: inline-flex;
    border-radius: 15px;
    background: linear-gradient(to bottom, var(--main-brand), var(--dark-shades));
    height: 28vh;
}

header img {
    border-radius: 100px;
    box-shadow: 0 5px 8px 5px var(--main-brand);
}

.title {
    margin-top: 10px;
    margin-right: 90px;
    font-size: 90px;
    font-family: 'Moon Dance', cursive;
    letter-spacing: 0.3rem;
    text-shadow: 2px 4px var(--dark-accent);
    color: var(--main-brand);
}

header p {
    margin-top: 150px;
    margin-right: 10px;
    font-size: 20px;
    letter-spacing: 0.2rem;
    color: var(--dark-accent);
}

#sidebarMenu {
    border-radius: 15px;
    width: 15vw;
    height: 117vh;
}

.searchp {
    margin: 15px 32px;
}

.custom {
    margin-top: 50px;
}

.nav-item p {
    padding-left: 5px;
    color: var(--light-shades);
}

#city {
    border-radius: 20px;
    width: 220px;
}

#city:focus {
    box-shadow: 0 2px 8px 2px var(--light-accent);
}

#city[type=text] {
    color: var(--dark-accent);
}

.button {
    width: 89px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 5px 2px var(--light-accent);
    background: var(--dark-accent);
}

.button:hover {
    background: var(--light-accent);
}

.searchBtn {
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 4px 7px 4px var(--main-brand);
    background: var(--light-shades);
    color: var(--main-brand);
}

.searchBtn:hover {
    box-shadow: none;
    background: var(--main-brand);
    color: var(--light-shades);
}

.nav-item a {
    text-decoration: none;
    color: var(--light-shades);
}

.nav-item a:hover {
    color: var(--dark-accent);
}

.dashboard {
    border-radius: 15px;
    width: 84vw;
    background: linear-gradient(to top, var(--main-brand), var(--dark-shades));
}

.unit {
    position: absolute;
    top: 25px;
    right: 20px;
}

.unit label {
    color: var(--light-shades);
}

.card {
    margin: 18px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px var(--main-brand);
    width: 20rem;
    height: 22rem;
}

h2 {
    color: var(--light-accent);
}

.date {
    margin-left: 97px;
    font-size: 15px;
    color: var(--dark-accent);
}

.card-body img {
    width: 60px;
    height: 60px;
}

.description {
    margin: 10px;
    font-size: 19px;
}

h3,
span {
    color: var(--main-brand);
}

h4 {
    color: var(--light-accent);
}

footer {
    border-radius: 15px;
    padding: 20px;
    width: 99vw;
    font-size: 18px;
    letter-spacing: 0.16rem;
    text-align: center;
    background: linear-gradient(to bottom, var(--main-brand), var(--dark-shades));
}

footer p,
.icon {
    color: var(--light-shades);
}

.icon {
    font-size: 25px;

}